

body {

    margin: auto;
    padding: 0;
    width: 960px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(52, 50, 63);
    letter-spacing: px;
}

body header {

    position: relative;
    height: 98px;
    padding: 0px;
    background-color: #1a5632;
    border-top-right-radius: 20px;
    box-shadow: 2px 5px 12px #818892;
    overflow: hidden;
}

.marginBottom {

    margin-bottom: 10px;
}

.logo {
    position: absolute;
    display: inline-block;
    width: 90px;
    top: 4px;
}

#link{
    color: black;
    text-decoration: none;
  }

h1 {
    position: absolute;
    left: 91px;
    top: 25px;
    font-family: 'arvo', arial;
    font-size: 20px;
    /*font-weight: lighter;*/
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}
    
.icons {

    float: right;
    margin-top: 70px;
    margin-right: 10px;
}

nav {

    position: relative;
    margin: auto;
    height: 38px;
    background-color: white;
    background-color:  #D7B8F3;
    box-shadow: 2px 5px 12px #818892;
    z-index: 2;


}

.button {

    display: inline-block;
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 2px solid white;
    border-top-right-radius: 20px;
    height: 18px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 18px;
    color: black;
    text-decoration: none;
    font-family: 'arvo';
    font-size: small;

}

a:hover{
    color: #8B635C !important; 
}


#menu2 {
    display: none;
}

#menu2 ul {
    list-style:none;
    margin:0;
    padding:0;
    font-size: medium;
   }
   
#menu2 ul a {

    display:block;
    text-decoration:none;
    padding: 12px;

   }
   
#menu2 ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#D7B8F3;
    box-shadow: 2px 5px 12px #818892;
   }
   
#menu2 ul ul li {
    width:200px
   } 

#menu2 ul li:hover > ul {
    display:block;
   }

section {
    float: left;
    width: 58%;   
    margin-right: 2%;
    box-shadow: 2px 5px 12px #818892;
    /*border: 1px solid black;*/
}

.sectionHeader {

    position: relative;
    height: 32px;
    background-color: #8B635C; 
    background-color: #F397D6;
    background-color:  #D7B8F3;
    background-color: #d7263d; 
    border-top-right-radius: 20px;
    box-shadow: 2px 5px 12px #818892;
    margin-top: 10px;
    z-index: 1;

}

h2 {
    position:absolute;
    font-family: 'arvo', arial;
    font-size: 15px;
    margin-left: 15px;
    top: -5px;
    color: white;
    /*font-weight: lighter;*/
}

article {

    width: auto;
    border: 1px solid rgb(169, 200, 204);
    border-bottom-style: hidden;
    padding: 10px;
    z-index: 2;
    overflow: hidden;

}

.flex {

    display: flex;
    align-items: center;
} 

.borderBottom {
    border-bottom: 1px solid rgb(169, 200, 204);
}

.portada {

    box-shadow: 2px 3px 7px #818892;
    margin: auto;
    height: 156px;
    float: left;
    margin-right: 10px;
    border: 1px solid rgb(169, 200, 204);
}

.texto {

    width: 100%;
    padding-left: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3%;


    
}

p{
    text-align: justify;
    text-indent: 5%;
    font-weight: normal;
}

aside {

    position: relative;
    overflow: hidden;
    height: 1915px;
    width:40%;
    margin-bottom: 10px;    
    float: right;
    box-shadow: 2px 5px 12px #818892;
}

.twittermovil {

    display: none;

}

.twitternormal {

    border: 0px;

}


.foto {

    margin: auto;
    height: 153px;
    width: 280px;
    float: left;
    margin-right: 10px;
    border: 1px solid rgb(169, 200, 204);
    box-shadow: 2px 5px 12px #818892;
}

.floatright {

    float: right;
    margin-right: 0px;
    margin-left: 10px;
}

iframe {
    width: fit-content;
    height: fit-content;
    float: left;
    box-shadow: 2px 5px 12px #818892;

}

.margin {
    margin-right: 10px;
}

.suscribete {

    position: relative;
    height: 32px;
    background-color: #8B635C;  
    background-color: #d7263d; 
    border-top-right-radius: 20px;
    margin-top: 20px;
    clear: left;
    box-shadow: 2px 5px 12px #818892;

}

.newsletter {
    height: 240px;
}


form{
	width: 280px;
	padding:16px;
	border-radius:10px;
	margin:auto;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input {
	width:180px;
	padding:3px 10px;
	border-radius:3px;
    border:1px solid #d7263d;
    border:1px solid black;

	margin:10px 0;
	display:inline-block;
}

form input[type="submit"]{

	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#1a5632;
} 

.somosparte{

    position: relative;
    height: 32px;
    background-color: #8B635C;  
    background-color: #d7263d; 
    margin-top: 10px;
    border-top-right-radius: 20px;
    box-shadow: 2px 5px 12px #818892;

}

.somosparte2 {

    height: 80px;

}

.sombra {
    box-shadow: 2px 5px 12px #818892;
}


.somospartelogos {

    display: inline-block;
    text-align: center;
    margin: auto;
    height: auto;
    width: 13%;
}

footer {

    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5%;
    background-color: #1a5632;
    color: white;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 5px 12px #818892;
    text-align: center;


    
}





