/* esto es un comentario*/

/** { outline: red solid 1px;}*/

body {

    position: static;
    margin: 0;
    padding: 0;
    width: 960px;
    margin: auto;
    margin-top: 10px;

}

body header {

    position: relative;
    height: 98px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #1a5632;

}

.logo {
    position: absolute;
    display: inline-block;
    width: 90px;
    top: 4px;
}

#link{
    color: black;
    text-decoration: none;
  }

h1 {
    position: absolute;
    left: 91px;
    top: 25px;
    font-family: 'arvo', arial;
    font-size: 20px;
    /*font-weight: lighter;*/
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}
    
.icons {

    float: right;
    margin-top: 70px;
    margin-right: 10px;
}

nav {

    position: relative;
    margin: auto;
    height: 38px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border: 2px solid rgb(233, 225, 252);

}

.button {

    display: inline-block;
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(233, 225, 252);
    border-radius: 50px;
    height: 18px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: black;
    text-decoration: none;
    font-family: 'arvo';
    font-size: small;

}

section {
    float: left;
    width: 66%;   
    margin-right: 10px;
    /*border: 1px solid black;*/
}

.sectionHeader {

    position: relative;
    height: 32px;
    background-color: #8B635C;  
    margin-bottom: 10px;

}

h2 {
    position:absolute;
    font-family: 'arvo', arial;
    font-size: 15px;
    margin-left: 15px;
    top: -5px;
    color: white;
    /*font-weight: lighter;*/
}

article {

    height: 155px;
    margin-bottom: 10px;
    border: 2px solid rgb(233, 225, 252);
    border-top-right-radius: 20px;


}

.portada {

    display: block;
    margin: auto;
    height: 156px;
    float: left;
}

.texto {

    height: 96px;
    width: 67%;
    padding: 20px;
    float: left;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
}

.textoNoticias {

    height: 96px;
    width: 45%;
    padding: 20px;
    float: left;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
}

p{
    font-weight: 100;
}

aside {

    width:32%;
    height: 1200PX;
    margin-bottom: 10px;    
    float: right;
    overflow: hidden;
}



aside header {

    position: relative;
    height: 38px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #ACD2ED;
    background-color: #E1E289;
    border: 1px solid rgb(0, 0, 0);  

}

.news {

    height: 160px;
    margin-bottom: 10px;

}

.foto {

    display: block;
    margin: auto;
    height: 153px;
    float: left;
}

footer {
    position: relative;
    height: 98px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #1a5632;
    clear: both;
}

iframe {

    position: relative;
    width: fit-content;
    height: fit-content;
    float: left;
}
